<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chris</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <h1> Chris Cebula </h1>
    <br>
    <img id="profilepic" src="/img/chrisface.jpg">
</body>
